<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chronic Kidney Disease</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <style>
        .TeamMembers{
            background-color: #f2f2f2;
            padding: 20px;
            width: 30%;
            border-radius: 10px;
            position: absolute;
            top: 60%;
            left: 65%;
        }
        #Home{
            width: 20%;
            height: 50px;
            border-radius: 20px;
            position: absolute;
            top: 50%;
            left: 40%;
        }
    </style>
    <div class="container">
        <br><br><br><br>
        <center>
        <h1>
            A Web Application for Predicting Chronic Kidney Disease Using Machine Learning
        </h1>
    </center>
    <button class="btn btn-primary" id="Home" ><a href="/home" style="color: white; text-decoration: none;">Home</a></button>
        <br><br>
    <div class="TeamMembers">
        <h3>Team Members</h3>
        <ul>
            <li>Shreya S
                (4MW19CS092)
            </li>
            <li>Swasthik M Acharya(4MW19CS101)</li>
            <li>Preran S Jathan(4MW19CS070)</li>
            <li>Prathik V Shenoy(4MW19CS069)</li>
        </ul>
    </div>

    </div>
    
</body>
</html>